*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

body{
    background-color: #fefefe;
}

.icon-bar {
    right:0%;
    position: fixed;
    top: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateY(-50%);
}
  
.icon-bar a {
    display: block;
    margin-bottom: 4px;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 13px;
}
  
.icon-bar a:hover {
    background-color: #000;
}
  
.facebook {
    background: #3B5998;
    color: white;
}
  
.twitter {
    background: #55ACEE;
    color: white;
}
  
.google {
    background: #dd4b39;
    color: white;
}
  
.linkedin {
    background: #007bb5;
    color: white;
}
  
.youtube {
    background: #bb0000;
    color: white;
}
  
.content {
    margin-left: 75px;
    font-size: 30px;
}

header{
    background-color: #fff;
    text-decoration: none;
}

/**nav1**/

.nav1{
    width: 100%;
    height: 30px;
    background: #EBEBEB;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav1-links a{
    text-decoration: none;
    color: #232222;
    font-size: 14px;
    font-weight: 500;
}

.nav1-lighter{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 40px;
}

.nav1-lighter a{
    margin-right: 6px;
    justify-content: space-evenly;
    text-decoration: none;
    color: #423f3f;
    font-size: 12px;
    font-weight: none;
    padding: 10px 15px;
}

.nav1-admission{
    background: #EC944B;
    padding: 6px ;
}

/**nav-main**/

.nav-main{
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.nav-main img{
    margin-left: 20px;
    margin-right: 20px;
}

.nav-main a{
    text-decoration: none;
    margin-left: 100px;
    align-items: center;
    text-align: center;
    margin-top: 8px;
    margin-right: 20px;
    font-weight: none;
}

.nav-pic img{
    margin-left: 10px;
    margin-right: 10px;
}

/** Nav-Menu **/

.nav-menu{
    width: 100%;
    height: 40px;
    background-color: #d3011c ;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-menu a{
    text-decoration: none;
    color: #fff;
    
}

.active{
    height: 40px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  #0157a5;
}

.news{
    height: 30px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.marquee{
    width: 100%;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.4);
}

.latest-news {
    font-size: 16px;
    color: black;
    text-transform: uppercase;
    background: rgb(236, 148, 75);
    padding: 5px 15px;
    width: 200px;
    height: 30px;
    display: flex;
    align-items: center;
    float: left;
}



/**Main Body**/
#main-body{
    display: flex;
}

.body-left h2{
    font-size: 26px;
    color: #2D2D2D;
    margin-top: 20px;
    margin-left: 45px;
}

.body-left img{
    width: 650px;
    height: 300px;
    margin-top: 30px;
    margin-left: 45px;
}


.main-container {
    position: relative;
    width: 650px; 
    margin: 0 auto; 
  }
  
  .main-container .main-contents{
    display: flex;
    margin-left: 45px;
    position: absolute; 
    bottom: 0; 
    background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, 0.7); 
    color: #f1f1f1; 
    width: 100%; 
    padding: 20px; 
  }

  .main-contents h4{
    padding-left: 5px;
    padding-right: 160px;
    font-size: 16px;
    color: #ec944b;
    font-weight: 600;
}

.main-contents p{
    padding-top: 10px;
    font-size: 12px;
    text-transform: uppercase;
}

.body-right{
    width: 460px;
    height: 350px;
    background: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.10);;
    margin-left: 90px;
    margin-top: 40px;
    position: relative;
    overflow-y: scroll;
    z-index: inherit;
}

.body-right h3{
    padding-left: 20px;
    padding-top: 20px;
}

.event-box{
    display: flex;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    padding-top: 0px;
    border: 0.5px solid rgb(227, 221, 221);
    
}

.img-content{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    gap: 10px;
    margin-left: 15px;
    margin-top: 5px;

}

.img-content p{
    font-size: 14px;
    color: #0157A5;
    margin-top: 20px;
}


.event-box img{
    width: 110px;
    height: 100px;
}



.news-heading{
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 10px;
}

.news-container1 {
    display: flex;
    position: relative;
    width: 100%; 
    margin: 0 auto; 
  }

.news-container1 img{
    height: 170px;
    width: 350px;
    margin-left: 45px;
    margin-top: 30px;
}
  
.news-container1 .news-contents{
    width: 350px;
    height: 40px;
    display: flex;
    margin-left: 45px;
    position: absolute; 
    bottom: 0; 
    background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, 0.7); 
    color: #f1f1f1;
}

.news-contents h4{
    font-size: 12px;
    color: #ec944b;
    font-weight: 500;
    padding-top: 10px;
    padding-right: 60px;
    padding-left: 5px;
}

.news-contents p{
    text-transform: uppercase;
    font-size: 9px;
    padding-top: 10px;
}

.news-container2 {
    display: flex;
    position: relative;
    width: 100%; 
    margin: 0 auto; 
  }

.news-container2 img{
    height: 170px;
    width: 350px;
    margin-left: 45px;
    margin-top: 30px;
}
  
.news-container2 .news-contents{
    width: 350px;
    height: 40px;
    display: flex;
    margin-left: 45px;
    position: absolute; 
    bottom: 0; 
    background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, 0.7); 
    color: #f1f1f1;
}

.news-contents h4{
    font-size: 12px;
    color: #ec944b;
    font-weight: 500;
    padding-right: 60px;
    padding-left: 5px;
    padding-top: 5px;
}

.news-contents p{
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 700;
    padding-top: 10px;
}

/** About section **/

#about{
    width: 100%;
    height: 700px;
    background: #ebebeb;
    margin-top: 50px;
}

#about h1{
    padding-top: 70px;
    padding-left: 50px;
    font-size: 38px;
    color: #0558a3;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

#about p{
    text-align: justify;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 60px;
    font-size: 18px;
    color: #313131;
    line-height: 1.4;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 530;
    word-spacing: 7px;
}

.about-links{
    display: flex;
    padding-top: 30px;
}

.about-link{
    width: 388px;
    height: 130px;
    border-right: 0.5px solid rgb(210, 206, 206);
}

.about-link h3{
    margin-top: 10px;
    font-size: 19px;
    color: #0558a3;
    font-weight: 600;
}

.about-link a{
    text-decoration: none;
    font-size: 14px;
    color: #0558a3;
    font-weight: 600;
}

#programs1{
    width: 100%;
    height: 1000px;
}

#programs1 h1{
    font-size: 34px;
    color: #33332f;
    margin-top: 50px;
    text-align: center;
    font-weight: lighter;
}

#programs1 ul{
    display: flex;
    justify-content: center
}

.stream{
    margin-top: 30px;
    margin-right: 15px;
    border-radius: 50%;
    background: white;
    width: 220px;
    height: 220px;
    padding: 15px;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid #d7d7d7;
    transition: ease-in-out all 0.3s;
    overflow: hidden;
}

.stream img{
    padding-bottom: -25px;
    margin-top: 30px;
    width: 85px;
    height: 70px;
}

.stream p{
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}

/** Campus **/
#campus{
    background-image: url(./images/world-map-dotted.png);
    background-color: #f1eeee;
    width: 100%;
    height: 700px;
    margin-top: 600px;
    display: flex;
}

.campus-left{
    width: 50%;
}

.campus-left h1{
    font-size: 34px;
    font-weight: lighter;
    padding-top: 70px;
    padding-left: 48px;
}

.campus-left p{
    line-height: 1.4;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    padding-left: 48px;
    padding-top: 30px;
}

.campus-left ul{
    display: flex;
    justify-content: space-between;
}

.lab-icon{
    padding-left: 65px;
    padding-right: 10px;
    padding-top: 50px;
}

.lab-icon div{
    text-align: center;
}



.campus-right ul{
    display: flex;
    padding-top: 130px;
    padding-left: 30px;
}

.video img{
    width: 270px;
    height: 210px;
    padding-left: 20px;
}

.play-btn { 
    position: absolute;
    cursor:  pointer;
    margin-top: -130px;
    margin-left: 100px;
    display: flex;
    box-shadow: #0157A5;
    border: #0157a5;
}

.video-player{
    position: absolute;
    width: 80%;
}

video:focus{
    outline: none;
}

.close-btn{
    position: absolute;
}

/** Review Section **/
.review-section{
    width: 100%;
    height: 550px;
    display: flex;
}

.review-section h1{
    font-weight: lighter;
    padding-top: 30px;
    padding-left: 50px;
}

.review-left{
    width: 50%;
}

.name{
    font-size: 21px;
    color: #3c3c3c;
    padding-top: 50px;
    padding-left: 50px;
}

.msg{
    background-color: #f8f8f8;
    display: flex;
    padding-top: 30px;
    padding-left: 30px;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 0%;

}

.msg img{
    position: absolute;
    border: 15px solid #fff;
    border-radius: 50%;
    margin-left:380px;
    margin-top: -60px;
}

.msg p{
    font-size: 16px;
    color: #5c5c5c;
    padding-top: 20px;
    padding-right: 130px;
}

.facts{
    margin-top: 100px;
    margin-left: 15px;
}

.facts-contents{
    display: flex;
    margin-top: 8px;
}

.facts-contents img{
    width: 55px;
    height: 52px;
    padding: 10px;
    background-color: #f6f3f3;
    
}

.data{
    margin-left: 12px;
    font-size: 24px;
    color : #636363;
}

.data span{
    font-size: 41px;
    font-weight: 600;
    color: #ec944b;
}

/**footer**/

#footer{
    width: 100%;
    height:230px;
    display: flex;
    background: whitesmoke;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
}

.foot-left{
    width: 300px;
    height: 150px;
    margin-top: 40px;
    margin-left: 60px;
    border-right : 0.5px solid rgb(210, 206, 206); 
}
.foot-left img{
    width: 237px;
    height: 46px;
    margin-left: 50px;
    margin-left: 10px;
}


.foot-right{
    margin-top: 40px;
    margin-left: 40px;
}

.foot-right p{
    font-size: 13px;
    color: #6F6F6F;
}

.contact-details{
    display: flex;
    margin-top: 10px;
    align-items: space-around;
}

.download{
    width: 192px;
    height: 40px;
    font-size: 16px;
    color: #FFFFFF;
    background: #EC944B;
    text-align: center;
    padding-top: 10px;
}

.call{
    display: flex;
    height: 40px;
}

.call h2{
    text-align: center;
    padding-top: 6px;
    margin-left: 20px;
    width: 96px;
    height: 40px;
    background: #0558a3;
    font-size: 20px;
    color: #FFFFFF;
    font-weight: lighter;
}

.call a{
    text-decoration: none;
    height: 40px;
    background:#fff;
    font-size: 20px;
    color: #0558a3;
    font-weight: bold;
    border: 1px solid #0558a3;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
}

.copyright{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.copyright p{
    padding: 15px;
    font-size: 13px;
    color: #9F9F9F;
}
